<main class="flex flex-column justify-content-center">
  <section class="flex">
    <div class="flex-auto">
      <app-task-list>The List of Tasks Loads here ...</app-task-list>
    </div>
  </section>
  <section class="flex">
    <div class="flex-auto" *ngIf="taskAddVisible">
      <app-task-add (click)="toggleTaskAddVisibility()"
        >The Task Add Component Loads here ...</app-task-add
      >
    </div>
  </section>
  <section class="flex">
    <div class="flex-auto" *ngIf="taskCreateVisible">
      <app-task-create (cancel)="onCancel()"
        >The Task Entry Component Loads here ...</app-task-create
      >
    </div>
  </section>
</main>
