@import "primeng/resources/primeng.css";
@import '~primeng/resources/primeng.min.css';

/* 
  General Form Styling 
*/

// 'ToDoist'-style formatting
.borderless-input {
  border-color: transparent;
  box-shadow: none;
  outline: none
}

// Divider for second and third sections
#primary-task-options, .primary-task-options {
  border-top: 1px solid #e9ecef;
}

// My Tweaks
.button-restyle {
  border-radius: 5px;
}

/* 
  'Secondary Options' button styling 
*/
:host ::ng-deep p-button button#cancel-add-task {
  font-size: 12px !important;
  padding: 0.01rem 0.01rem !important;
  color:red;
}
/* 
  'Secondary Options' button styling 
*/
:host ::ng-deep p-button.secondary-options-button span.p-button-label {
  font-size: 12px !important;
  padding: 0.01rem 0.01rem !important;
  color:#4545454f;
}
:host ::ng-deep p-button.secondary-options-button button {
  font-size: 12px !important;
  padding: .3rem .3rem !important;
  border: 1px solid #4545454f !important;
  border-radius: 5px;
  outline: none;
}
:host ::ng-deep p-button.secondary-options-button button span.p-button-label{
  margin-right: .2rem
}
:host ::ng-deep p-button.secondary-options-button button span.pi{
  color: #4545454f;
  margin-left: .2rem
}


// Special styling when the user is making inputs
.user-title-input {
  font-weight: bold;
  color: #454545;
}

.user-description-input {
  color: #454545;
}

// Disable PrimeNG borders, box-shadows, and outlining for 'input' fields
input#title, textarea#description, #user-projects, :host ::ng-deep p-dropdown .p-dropdown{
  border-style: hidden !important;
  box-shadow: none !important;
  outline: none; // key for disabling
}

// :host ::ng-deep p-dropdown .p-dropdown {
// // :host ::ng-deep p-dropdown .p-dropdown .p-element {
//   border-style: hidden !important;
//   box-shadow: none !important;
//   outline: none; // key for disabling
// }

/* 
  Task 'Description' field styling 
*/
#task-description label {
  font-size: small; 
  // margin-left: 6px; 
  margin-top: 2px; 
  opacity: .75; 
  transition: opacity 0.7s ease-in-out;
}

// Styling for label once user begins typing
#task-description textarea#description:focus + label {
  opacity: 0.25;
}

// Styling for label after user has dirtied the field
#task-description label.description-touched {
  opacity: 0.1 !important;
  color: red !important;
}

button#add-task:disabled {
  cursor: not-allowed;
}

/* 
  Form 'Flex' styling 
*/
// TODO: delete these?
// #target {
//   display: flex;
// }

// #target > div {
//   flex: 1;
// }






/* 
  User Notification that form Needs Attention 
*/
.needs-user-attention, input.ng-invalid.ng-dirty {
  border: 2px solid #ffa500 !important;
  box-shadow: 0 0 0 0.1rem  #fdb42cb1;
}


/* (Me) Exploration of consolidating styling via Sass */
// @import '~primeng/resources/primeng.min.css';
// .custom-prime-padding {
//   @extend .p-4;
//   @extend .pb-0;
//   @extend .pt-0;
// }