:host {
  --task-font: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --primary-blue: #1c9afb;
  --primary-blue-hover: #097cd4;
  --secondary: #e0e0e0;
  --secondary-hover: #cdcdcd;
  --medium-gray: #9c9c9c;
  --dark-gray: #6e6e6e;
  --user-input-gray: #454545;
}

label {
    font-family: var(--task-font);
    font-size: 16px; 
    font-weight: bold;
  }
  
/* .p-checkbox-box.p-checkbox-rounded  */
// span.p-checkbox-icon:before {
//     border-radius: 50%;
// }

.expanded, #task-description .ng-star-inserted {
  // white-space: pre-wrap;
  font-family: var(--task-font);
  margin: 0px;
}

:host ::ng-deep .p-checkbox-rounded .p-checkbox-box {
  border-radius: 50%;
}

/* 
  .p-checkbox-icon
  .p-checkbox
  .p-checkbox-box
  span.p-checkbox-icon
*/

// When hovering over checkbox, a gray check mark will appear
:host ::ng-deep .p-checkbox:hover .p-checkbox-icon::before {
  content: '';
  display: block;
  font-family: "PrimeIcons";
  font-size: 1rem;
  line-height: 1;
  // color: var(--primary-blue);
  color: var(--secondary-hover) !important;
  content: "\2713";
}

:host ::ng-deep .p-checkbox:hover {
  // border-co?Slor: var(--secondary-hover) !important;

}

:host ::ng-deep .p-checkbox-box.p-highlight .p-checkbox-icon::before {
  color: white;
}
