<!-- Using PrimeNG 'Checkbox' -->

<!-- <div class="surface-card w-full lg:w-6" style="margin: auto">
  <div class="p-grid p-nogutter">
    <div class="p-col">
      <div class="card">
        <div class="p-grid">
          <div class="p-col">
            <div
              id="task-add"
              class="p-row p-checkbox-circle pb-3 align-items-center"
              (onClick)="onAddTaskButtonClick()"
            >
              <p-checkbox
                value="Add Task"
                class="p-checkbox-icon p-circle p-checkbox-rounded"
              ></p-checkbox>
              <label class="ml-4 checkbox-label" for="addTask">Add Task</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="surface-card w-full lg:w-6" style="margin: auto">
  <div class="p-grid">
    <div class="p-col">
        <div class="p-row">
          <div id="task-add" class="align-items-center" style="margin-left: 1px;">
            <span id="james-plus-icon" class="p-checkbox-icon pi pi-plus"></span>
            <span class="ml-4 checkbox-label add-label">Add Task</span>
          </div>
        </div>
    </div>
  </div>
</div>


